@model IEnumerable<BeautyFromNature3.Domain.BeautyUser>

@{
    ViewData["Title"] = "Потребители";
}

<br />
<h1 class="text-center">СПИСЪК С ПОТРЕБИТЕЛИ</h1>
<hr />
<br />

<div class="overflow-auto">
    <table class="table table-hover">
        <thead>
            <tr class="detailsUser">
                <th class="text-light">
                     
                    <label>Потребителско име</label>
                    
                </th>
                <th class="text-light" >
                    <label>Име</label>
                  
                </th>
                <th class="text-light" >

                    <label>Фамилия</label>
                </th>
                <th class="text-light">
                   
                    <label>Е-mail</label>
                </th>
                <th class="text-light">

                    <label> Телефон</label>
                </th>
                <th class="text-light">
                    <label>Възможност</label>
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr class="table-light text-center">
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        <a  class="btn btn-outline-light" asp-action="Details" asp-route-id="@item.Id"><img src="~/Images/detailsIcon.png" width="25" /></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
