@model IEnumerable<BeautyFromNature3.Domain.Product>

@{
    ViewData["Title"] = "Продукти";
}

<h1 class="text-center">ПРОДУКТИ</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <img src="~/Images/@item.Image"
                     class="rouded-circle"
                     height="50" width="50"
                     asp-append-version="true" alt="No" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company.Name)
                </td>
                <td>
                  
                    <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                   
                </td>
            </tr>
        }
    </tbody>
</table>
