@model BeautyFromNature3.Domain.Catalog

@{
    ViewData["Title"] = "Изтриване";
}

<h1>Изтриване на каталога</h1>


<div>
   
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CatalogName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CatalogName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EditDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EditDate)
        </dd>
    </dl>

    <form asp-action="Delete" >
        <div>
            <a class="btn btn-outline-light" asp-action="Index"><img src="~/Images/goBackBtn.png" width="25" /></a>
            <button type="button" class="btn btn-outline-danger col-md-1" data-toggle="modal" data-target="#DeleteCatalog">
                <img src="~/Images/deleteIcon.png" width="25" />
            </button>

            <!-- Modal -->
            <div id="DeleteCatalog" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal header-->
                        <div class="modal-header">
                            <h4 class="modal-title" id="delete-question"> Сигурни ли сте, че искате да го изтриете?</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body-->
                        <div class="modal-body">
                            <p>Каталогът "<strong>@Model.CatalogName </strong>" ще бъде перманентно изтрит.</p>
                        </div>

                        <!-- Modal footer-->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Затвори</button>
                            <form asp-action="Delete">
                                <input type="submit" value="Изтрий" class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.CatalogId" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </form>
</div>
