@model IEnumerable<BeautyFromNature3.Domain.Company>

@{
    ViewData["Title"] = "Компании";
}

<h1 class="text-center">КОМПАНИИ</h1>

@if (User.IsInRole("Administrator"))
{
    <p>
        <a class="btn btn-outline-secondary" asp-action="Create">ДОБАВИ НОВ</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>


                    <a class="btn btn-outline-light" asp-action="Edit" asp-route-id="@item.CompanyId"><img src="~/Images/editIcon.jpg" width="25" /></a>

                    <a class="btn btn-outline-light" asp-action="Details" asp-route-id="@item.CompanyId"><img src="~/Images/detailsIcon.png" width="25" /></a>

                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.CompanyId"> <img src="~/Images/deleteIcon.png" width="25" /></a>


                </td>
            </tr>
        }
    </tbody>
</table>
